.servicos-nr-bloco{
    padding: 2rem;
    background: url('assets/images/manutencao-servicos-nr-linhas.png'), $roxo;
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 1.5rem;
    .bloco-titulo{
        display: flex;
        gap: 1rem;
        align-items: center;
        .titulo{
            @include title(1.8rem, 700, $branco, false);
            span{
                @include title(1.8rem, 400, $branco, false);
            }
        }
    }
    .bloco-especificacoes{
        margin-top: 2rem;
        margin-left: 1.5rem;
        li{
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
            color: $branco;
        }
    }
    .bloco-imagem{
        width: 23.5625rem;
        height: 20.5625rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        overflow: hidden;
        background-color: $branco;
        float: none;
        margin: 0 auto;
        @include breakpoint(lg){
            float: right;
            margin-top: 2rem;
        }
        .imagem{
            margin-top: -0.5rem;
        }
        .bloco-titulo{
            margin-top: 0.55rem;
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: center;
            .logomarca{
                width: 3rem;
            }
            .titulo{
                @include title(1rem, 700, $roxo, false);
            }
        }
    }
    .orcamento{
        float: right;
        @include button-verde;
    }
}