.descricao-separador{
    width: 100%;
    height: 20rem;
    position: relative;
    @include breakpoint(lg){
        height: 32rem;
    }
    .descricao {
        width: 100%;
        padding: 1rem;
        position: absolute;
        right: 0;
        bottom: 5rem;
        @include breakpoint(md){
            width: 36.75rem;
            padding-bottom: 1.5rem;
        }
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $cinza;
            opacity: 0.08;
            z-index: -1;
        }
        .descricao-titulo {
            text-align: center;
            font-size: 1.5rem;
            color: $branco;
            @include breakpoint(md){
                font-size: 2.5rem;
                text-align: start;
            }
        }
        .descricao-link {
            position: absolute;
            bottom: -3rem;
            right: 0;
            @include button-verde;
            @include breakpoint(lg){
                position: absolute;
                bottom: -1.1rem; // Ajuste para alinhar o link
                right: 1rem; // Ajuste para alinhar o link
            }
        }
    }
}