.equipamentos-calibrados{
    margin-top: 1.5rem;
    .bloco-titulo{
        .titulo{
            @include title;
        }
        .subtitulo{
            margin-top: 0.5rem;
            @include title(1.2rem, 700, $cinza3, false);
        }
    }
    .equipamentos-lista{
        margin-top: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        .equipamentos-item{
            width: 100%;
            height: 20rem;
            padding-bottom: 1rem;
            background-color: $roxo;
            @include breakpoint(lg){
                width: 20.65rem;
            }
            .imagem{
                width: 100%;
                height: 264px;
                object-fit: cover;
                margin-top: -0.5rem;
                @include breakpoint(lg){
                    object-fit: initial;
                }
            }
            .bloco-titulo{
                position: relative;
                .logomarca{
                    width: 2rem;
                    position: absolute;
                    left: 1.1rem;
                    top: 0.7rem;
                }
                .titulo{
                    padding-top: 1.1rem;
                    text-align: center;
                    @include title(1rem, 700, $branco, false);
                }
            }
        }
    }
}