.header{
    height: 30rem;
    @include breakpoint(lg){
        height: 40rem;
    }
    .video{
        width: 100%;
        height: 30rem;
        filter: brightness(0.5);
        object-fit: cover;
        position: absolute;
        top: 0;
        z-index: -1;
        @include breakpoint(lg){
            height: 40rem;
        }
    }

    .top-bar{
        height: auto;
        background-color: $roxo;
        padding-top: 0.8rem;
        padding-bottom: 1rem;
        .top-bar-content{
            display: flex;
            justify-content: space-between;
            .email-telefone{
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                .email{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.5rem;
                    color: $branco;
                    font-weight: bold;
                }
                .telefone{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.5rem;
                    color: $branco;
                    font-weight: bold;
                }
            }
            .redes-sociais{
                display: none;
                @include breakpoint(lg){
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                }
            }
        }
    }
    
    .nav{
        width: 100%;
        height: 4.5rem;
        border-bottom: 0.2rem solid $roxo;
        background-color: $roxo-transparent447;
        overflow: hidden;
        position: absolute;
        z-index: 1;
        @include breakpoint(lg){
            position: initial;
            border-bottom: 0;
            overflow: initial;
        }
        .nav-brand{
            .logo{
                margin-top: 1.2rem;
            }
            .toggle{
                background: none;
                float: right;
                margin-top: 1.5rem;
                img{
                    width: 1.5rem;
                    filter: invert(100%) sepia(98%) saturate(7%) hue-rotate(168deg) brightness(102%) contrast(106%);
                }
                @include breakpoint(lg){
                    display: none;
                }
            }
        }
        .nav-list{
            margin-top: 1rem;
            @include breakpoint(lg){
                margin-top: -1.8rem;
                margin-left: 12rem;
                display: flex;
                gap: 1rem;
            }
            .nav-item{
                list-style: none;
                margin-bottom: 1rem;
                position: relative;
                @include breakpoint(lg){
                    height: 3rem;
                    &:hover{
                        .nav-dropdown{
                            display: block;
                        }
                    }
                }
                .nav-link{
                    font-weight: bold;
                    text-decoration: none;
                    color: $branco;
                    font-size: 1rem;
                    @include breakpoint(lg){
                        position: relative;
                        &::before {
                            content: "";
                            position: absolute;
                            width: 0;
                            height: 0.2rem;
                            border-radius: 0.5rem;
                            bottom: -0.5rem;
                            left: 50%;
                            background-color: $verde;
                            transition: all 0.3s;
                        }
                        &:hover::before {
                            width: 100%;
                            left: 0;
                        }                    
                    }
                }
            }
        }
        .nav-dropdown{
            width: 18rem;
            height: 43rem;
            padding: 1rem;
            border-radius: 0.5rem;
            background-color: $roxo;
            margin-top: 2rem;
            display: none;
            position: absolute;
            z-index: 1;
            .nav-dropdown-titulo{
                display: flex;
                align-items: center;
                gap: 1rem;
                h1{
                    color: $branco;
                    font-size: 1.5rem;
                }
            }
            .nav-dropdown-divisor{
                width: 100%;
                height: 0.1rem;
                display: block;
                margin-top: 1.5rem;
                color: $branco;
                text-decoration: underline;
            }
            .nav-dropdown-list{
                margin-top: 2rem;
                .nav-dropdown-item{
                    list-style: none;
                    margin-bottom: 1rem;
                    .nav-dropdown-link{
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        color: $branco;
                        font-size: 1rem;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .description {
        width: 100%;
        padding: 1rem;
        position: relative;
        margin-top: 8rem;
        @include breakpoint(md){
            width: 36.75rem;
            padding: 1rem;
            position: relative;
            margin-top: 9rem;
            float: right;
        }
        @include breakpoint(lg){
            width: 36.75rem;
            padding: 1rem;
            position: relative;
            margin-top: 13.5rem;
        }
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $cinza;
            opacity: 0.05;
            z-index: -1;
        }
        h1 {
            text-align: center;
            font-size: 1.5rem;
            color: $branco;
            @include breakpoint(md){
                font-size: 2.5rem;
                text-align: start;
            }
        }
        a {
            position: absolute;
            bottom: -3rem;
            right: 0;
            border-radius: 0.3rem;
            padding: 0.5rem 1.5rem; // Ajustado para simplificar
            background-color: $verde;
            font-size: 1rem;
            text-transform: uppercase;
            text-decoration: none;
            color: $branco;
            @include breakpoint(lg){
                position: absolute;
                bottom: -1rem; // Ajuste para alinhar o link
                right: 1rem; // Ajuste para alinhar o link
            }
        }
    }
}