.content{ //Essa classe é a que vai ser usada para abrigar o conteudo da página caso deseje fazer o efeito paralax no vídeo, basta position da classe .video para fixed
    padding-top: 2rem;
    position: relative;
    background-color: $branco;
    z-index: 1;
    @include breakpoint(lg){
        padding-top: 6rem;
    }
}

.container{
    width: 90%;
    margin: 0 auto;
    @include breakpoint(lg){
        width: 64rem;
    }
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

@for $i from 1 through 20{
    .col-#{$i}{
        width: 100%;
        @include breakpoint(lg){
            width: calc( 100% / 20 ) * $i;
        }
    }
}