@mixin button-verde($width: 7.5rem) {
    background-color: $verde;
    text-decoration: none;
    color: $branco;
    font-size: 1.3rem;
    margin-top: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.6rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 0.5rem;
}