.servicos-lista-titulo{
    @include title(1.5rem, 400, $cinza3);
    margin-top: 2rem;
    margin-bottom: 1rem;

}
.servicos-lista{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    .servicos-item{
        width: 15rem;
        position: relative;
        padding: 1.5rem;
        border-radius: 0.5rem;
        background-color: $cinza2;
        text-decoration: none;
        .servicos-titulo{
            @include title(1.3rem, 400, $roxo);
        }
        .servicos-descricao{
            margin-top: 0.8rem;
            margin-bottom: 2rem;
            font-size: 0.9rem;
            color: $cinza3 !important;
        }
        .servicos-saibamais{
            position: absolute;
            bottom: 1.2rem;
            background: none;
            color: $roxo;
        }
    }
}