.catalogo{
    width: 100%;
    height: auto;
    background: url('assets/images/catalogo-linhas.png'), $roxo;
    background-size: cover;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    @include breakpoint(md){
        height: 23.5rem;
        display: flex;
        justify-content: space-between;
    }
    .catalogo-descricao{
        padding: 2rem;
        @include breakpoint(lg){
            padding-top: 1rem;
            padding-left: 7rem;
        }
        .catalogo-titulo{
            margin-top: 1rem;
            color: $branco;
            font-size: 3rem;
            text-transform: uppercase;
        }
        .catalogo-descricao{
            color: $branco;
            font-size: 1.2rem;
            font-weight: 300 !important;
            padding: 0;
            margin-top: 1rem;
            margin-bottom: 1.8rem;
        }
        .catalogo-baixar{
            @include button-verde;
        }
    }
    .catalogo-img{
        display: none;
        @include breakpoint(lg){
            width: 28rem;
            height: 32rem;
            margin-top: -3.5rem;
            margin-right: -2.8rem;
            display: initial;
        }
    }
}