.entre-em-contato {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    background-color: $roxo;
    border-radius: 0.5rem;
    display: flex;
    @include breakpoint(lg){
        height: 23rem;
        margin-top: 7rem;
    }
    .entre-em-contato-img{
        display: none;
        @include breakpoint(lg){
            width: 24rem;
            height: 27rem;
            margin-top: -4rem;
            margin-left: 2rem;
            display: block;
        }
    }
    .entre-em-contato-conteudo{
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 1.5rem;
        @include breakpoint(lg){
            margin-left: 2rem;
            margin-bottom: 0;
        }
        .entre-em-contato-titulo{
            font-weight: 900 !important;
            font-size: 50px;
            color: $branco;
            @include breakpoint(lg){
                font-size: 80px;
                line-height: 5rem;
            }
            span{
                color: $amarelo;
            }
        }
        .entre-em-contato-descricao{
            padding-right: 2rem;
            margin-top: 0.5rem;
            margin-bottom: 2rem;
            font-weight: 300;
            font-size: 18px;
            color: $branco;
            span{
                color: $amarelo;
            }
            @include breakpoint(lg){
                margin-bottom: 0;
                padding-right: 0;
            }
        }
        .entre-em-contato-contato{
            @include button-verde;
            margin-top: 2rem;
            @include breakpoint(lg){
                float: right;
                margin-right: 0rem;
            }
        }
    }
}