.principais-servicos{
    margin-top: 2rem;
    .principais-servicos-titulo{
        @include title();
    }
    .principais-servicos-loop{
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
        justify-content: center;
        @include breakpoint(lg){
            flex-wrap: nowrap;
            justify-content: initial;
        }
        .principais-servicos-item{
            width: 100%;
            height: 38rem;
            margin-top: 1rem;
            border-radius: 0.9rem;
            border: 0.1rem solid $cinza2;
            background-color: $cinza !important;
            text-decoration: none;
            position: relative;
            @include breakpoint(sm){
                width: 15.625rem;
                height: 45rem;
            }
            @include breakpoint(md){
                height: 46rem;
            }
            @include breakpoint(lg){
                height: 43rem;
            }
            .principais-servicos-img{
                width: 100%;
                height: 15rem;
                object-fit: cover !important;
                @include breakpoint(lg){
                    width: 100%;
                    height: auto;
                    object-fit: none;
                }
            }
            .principais-servicos-marca{
                height: 2.5rem;
                margin-top: -0.25rem;
                padding-top: 0.48rem;
                padding-left: 0.5rem;
                background-color: $roxo;
                img{
                    width: 1.5rem;
                    height: auto;
                }
            }
            .principais-servicos-titulo{
                padding-top: 1rem;
                padding-left: 1rem;
                padding-right: 1rem;
                color: $roxo;
                font-weight: 400;
                font-size: 1.3rem;
            }
            .principais-servicos-descricao{
                padding-top: 0.5rem;
                padding-left: 1rem;
                padding-right: 1rem;
                color: $preto;
                font-weight: 300;
                font-size: 1rem;
            }
            .principais-servicos-saiba-mais{
                position: absolute;
                bottom: 1rem;
                right: 1rem;
                background: none;
                color: $roxo;
            }
        }
    }
    .principais-servicos-mais-servicos{
        width: 12.6rem;
        display: block;
        margin-top: 1rem;
        text-decoration: none;
        text-transform: uppercase;
        color: $branco;
        font-size: 1.3rem;
        padding-top: 0.5rem;
        padding-bottom: 0.6rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        border-radius: 0.5rem;
        background-color: $verde;
        float: right;
    }
}