.quem-somos{
    margin-top: 2rem;
    .quem-somos-titulo{
        @include title();
    }
    .quem-somos-conteudo{
        margin-top: 1rem;
        display: flex;
        align-items: center;
        gap: 5rem;
        .quem-somos-descricao{
            font-weight: 300 !important;
            font-size: 1.5rem;
        }
        .quem-somos-logo{
            display: none;
            @include breakpoint(lg){
                width: 15rem;
                height: 10.5rem;
                display: block;
            }
        }
    }
    .quem-somos-saiba-mais{
        @include button-verde(10.3rem);
        margin-top: 1.5rem;
    }
}